<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/index/css/popup.css" />
</head>
<body>
<div class="popup-container">
    <div class="img-flex"></div>
</div>
<!--<iframe src="chat.html"></iframe>-->
</body>
<script src="/static/vendors/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/index/js/fragment.js"></script>
<script type="text/javascript">
    $(function() {
        var fragmentConfig = {
            container : '.img-flex',//显示容器
            line : 8,//多少行
            column : 16,//多少列
            width : 1366,//显示容器的宽度
            animeTime : 3000,//最长动画时间,图片的取值将在 animeTime*0.33 + animeTime*0.66之前取值
            img : '/static/index/images/2.jpg'//图片路径
        };
        fragmentImg(fragmentConfig);
    });
</script>
</html>